{%extends 'base.html'%}
{%block title%}home{% endblock %}
{% block content%}
          <div class="inner cover">
            <h1> welcome {{f_name}}</h1>
            <h1 class="cover-heading">Put Your Cloths.</h1>
            <p class="lead">Laundry is a place where you enjoy your life without worrying about your cloths. we care about them.</p>
            <p class="lead">
              <a href="/cloths" class="btn btn-lg btn-default">Add cloth</a>
            </p>
          </div>
{%endblock%}
